html {
    font-size: 20px;
}
body {
    font-family: 'Times New Roman', Times, serif;
}

a[href^="http"]::after {
    content: "\21F2";
}


.nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.nav__site-title {
    flex: 1;
}
.nav__menu {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    column-gap: 1rem;
    text-align: right;
}
@media only screen and (max-width: 600px) {
    .nav__menu {
        flex-direction: column;
    }
  }